@model MacroMachine.Models.ProfileIndexViewModel
@{
    ViewBag.Title = "Edit Profile";
}

<h2>Edit Profile</h2>

@*https://eonasdan.github.io/bootstrap-datetimepicker/*@

@using (Html.BeginForm("Index", "Profile", FormMethod.Post, new { id = "editProfile", role = "form" }))
{
    @Html.AntiForgeryToken()

    @*<div class="form-group">
            @Html.LabelFor(m => m.ApplicationUser.BiologicalSex, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.ApplicationUser.BiologicalSex, Model.Sexes, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ApplicationUser.BiologicalSex, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        @Html.LabelFor(m => m.ApplicationUser.Birthday, new { @class = "control-label col-md-2" })
        <div class="col-md-10" >
            @Html.EditorFor(m => m.ApplicationUser.Birthday, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ApplicationUser.Birthday, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ApplicationUser.Age, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.ApplicationUser.Age, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/profile")
}
